.sidebar-left {
	width: 16%;
	height: 100%;
	min-height: 400px;
	position: absolute;
	background: rgba(67,65,69,.8);
	color: white;
	font-size: 18px;
	border-bottom: 20px solid;
	border-bottom-left-radius: 5px;
}

.main {
	width: 80%;
	min-height: 400px;
	margin: 20px 2% 20px 18%;
	border-bottom-right-radius: 5px;
	position: relative;
	display: inline-block;
}

.sidebar-left .item {
	padding: 5px 15px;
	line-height: 40px;
	display: block;
	color: #FFF;
	text-decoration: none;
}

.sidebar-left .item-current {
	background: #4dbeff;
}

.base-item {
	min-height: 36px;
}
